<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:name=".WePetApplication"
        tools:targetApi="31">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDM9lbjkATmlMpH4socA7CyLJxzCXeZ_xg" />

        <activity
            android:name=".presentation.controller.GoogleMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_google_maps" />
        <activity
            android:name=".presentation.views.WePetSplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.controller.LoginActivity"
            android:label="LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.controller.CreateAccountActivity"
            android:label="CreateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.controller.HomePageActivity"
            android:label="HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.controller.AnimalActivity"
            android:label="AnimalActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.controller.ShelterActivity"
            android:label="ShelterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.controller.EventActivity"
            android:label="EventActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.controller.ProfilActivity"
            android:label="ProfilActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.controller.ContactUsActivity"
            android:label="ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.controller.AboutUsActivity"
            android:label="AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.controller.SetUpPinActivity"
            android:label="AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.controller.CodePanelActivity"
            android:label="AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>